# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/

# IDEs
.vscode/
.idea/

# Build output
build/
dist/
*.spec

# OS files
Thumbs.db
.DS_Store

# Local application settings
config/settings.json